
.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

a { 
  padding-top:10px;
  padding-right: 30px;
  padding-left: 30px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.wrapper {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

h1 {
  text-align: center;
}

div .card.card-body.border-light {
  opacity: 0.9;
  border: 0;
}

div .card-deck {
  text-align: center;
  float: inherit;
}
