.App {
  text-align: center;
  padding: 100px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30vmin;
  float: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 50px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a { 
    color: #282c34;
    padding-right:20px;
    padding-left:20px;
    font-size: 50px;
}

h1 {
  text-align: center;
}

div .card.card-body.border-info {
  text-align: center;
}

div .card-deck {
  text-align: center;
  float: inherit;
}

p {
  size: 50px;
}